.product-inactive-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-admin-checkbox{
    position: absolute;
    top: 20px;
    right: 20px;
}
.admin-products-index-controls{
    height: 35px;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-products-index-controls > button{
    height: 100%;
    width: 110px;
}
.admin-products-index-controls > span{
    width: 100px;
}
.product-admin-checkbox:hover{
    cursor: pointer;
}