@import 'colors';
.cart{
    padding: 45px;
}
.cart-table{
    padding: 0;
    list-style: none;
    width: 800px;
    border-collapse: collapse;
}
.cart-table th{
    text-align: left;
    font-size: 12px;
}
.cart-table tr{
    height: 70px;
    border-bottom: $outline-style;
}
.cart-table tr button{
    height: 40px;
    width: 103px;
}
.cart-item > *:first-child{
    margin: 0;
    padding: 0;
    width: 300px;
}
.search-button,
.search-button:hover{
    background: none;
    color: black;
}