.cart-order-item-list{
    list-style: none;
    width: 650px;
}
.cart-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cart-item h4{
    margin: 0;
    padding: 0;
    width: 300px;
}