@import 'colors';
.product-page{
    display:flex;
    flex-direction: row;
}
.product-search-options{
    width: 135px;
    display: inline-block;
    padding: 20px;
    margin-right: 20px;
    flex-shrink: 0;
    background-color: $light-overlay-style;
}
.product-search-options ul{
    list-style: none;
    padding: 0;
}

.products-index{
    display: inline-flex;
    flex-wrap: wrap;
}

.product-item{
    margin: 10px;
    padding: 10px;
    position: relative;
}

.product-image{
    border: $outline-style;
    width: 200px;
    height: 300px;
}
.product-item img:hover{
    cursor: pointer;
}

.product-item h3 {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-item h3:hover {
    cursor: pointer;
}

