.product-show{
    display: flex;
}
.product-show > img{
    width: 200px;
    height: 350px;
    margin: 20px;
}

.product-show-right{
    width: 500px;
    margin-top: 20px;
}

.product-show-quantity-selection{
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-show-quantity-selection button{
    flex-grow: 1;
}

.product-show-title{
    margin-top: 0;
    margin-bottom: 5px;
}