@import 'colors';
html{
    font-family: 'Ubuntu', sans-serif;
}
button{
    background: rgb(24, 24, 24);
    border: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
button:hover{
    background: black;
    cursor: pointer;
}
.quantity-selector{
    width: 100px;
    height: 100%;
    box-sizing: border-box;
    padding:10px;
    margin: 0;
    margin-right: 10px;
    border: $outline-style;
    position: relative;
}
.quantity-selector-value{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.quantity-selector:hover{
    cursor: pointer;
    border: $hover-outline-style;
}
.quantity-selector-list{
    width: 100%;
    z-index: 115;
    top: 100%;
    left: -1px;
    position: absolute;
    background: white;
    border: 1px solid #BEBEBE;
    margin: 0;
    box-sizing: content-box;
}

.quantity-selector-list > div{
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.price{
    width: 50px;
}